@charset "UTF-8";

html {
	font-family: "Roboto", "Helvetica", "Arial", Sans-serif;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

img {
	display: block;
	width: 100%;
}

.error-textbox {
	position: relative; 
}

.error {
	text-align: center;
	font-weight: 300;
	bottom: 10 rem;
}

.error-logo {
	width: 20%;
	margin: auto;
}

.welcome {
	position: absolute;
}