@charset "UTF-8";

html {
	font-family: "Roboto", "Helvetica", "Arial", Sans-serif;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background: #F5F5F5;
}

img {
	display: block;
	width: 100%;
}

.welcome {
	margin-top: 5%;
	position: absolute;
	width: 100%;
}

.error-textbox {
	
}

.error {
	text-align: center;
	font-weight: 300;
}

.error-logo {
	width: 20%;
	margin: auto;
}