---
layout: default
title: Welcome
meta-desc: Portfolio of Ottawa based graphic designer Gabriel Mitchell
meta-keywords: Gabriel Mitchell, Ottawa, Portfolio, Graphic Design, Illustration, Graphic Arts
---

	<header>
		<div class="mountains">
			<!-- <img src="http://placehold.it/2000x600/778899/F5F5F5&text=Excuse&nbsp;The&nbsp;Mess" alt="Welcome to my Portfolio"> -->
			<object type="image/svg+xml" data="images/starry-banner.svg">
				<a href="#">Gabriel Mitchell Fox Logo <!-- fallback image in CSS --></a>
			</object>	

		</div>
		<h1 class="center-text w700 universe">Gabriel Mitchell</h1>
		<h2 class="center-text w300 organism no-marg serif"><em>Graphic Designer &times; Illustrator &times; Explorer</em></h2>
		<a href="#nav" class="nav-btn hide-text">Navigatory Console</a>
		<div class="nav-top nav-toggle" data-state="collapsed">
			{% include nav.html %}
		</div>
	</header>

	<div id="welcome" class="welcome">
	<!--	<img class="logo" src="images/logo-gm.svg" alt="Good Things Come To Those Who Wait.">-->
		
		<object type="image/svg+xml" data="images/logo3.svg" class="logo">
		  <a href="#">Gabriel Mitchell Fox Logo <!-- fallback image in CSS --></a>
		</object>	
		
	</div>
	
	<div class="wrap buffer">
		<div id="work" class="buffer banner clearfix unit-s-1 unit-m-1 unit-l-5-8 unit-xl-5-8 nav-bar-center">
			<h2 class="galaxy center-text w400">Works</h2>
		</div>
	</div>
	<div class="center-object wrap clearfix unit-xl-5-8">
		{% include pieces.html title="SHINE" link="shine.html" img="shine/1.jpg" alt="SHINE" %}
		{% include pieces.html title="FORTH" link="forth.html" img="forth/forth-intro.jpg" alt="Forth" %}
		{% include pieces.html title="This Winter Be &hellip;" link="f21.html" img="f21/f21-intro.jpg" alt="Forever 21" %}
		{% include pieces.html title="KJP" link="forth.html" img="kjp/kjp-intro.jpg" alt="KJP Select Woods" %}
		{% include pieces.html title="Apartment Story" link="aptstory.html" img="apartmentstory/national-intro.jpg" alt="The National Gig Poster" %}
		{% include pieces.html title="Caribou Coffee" link="cariboucoffee.html" img="cariboucoffee/caribou-intro.jpg" alt="Coffee Packaging" %}
		{% include pieces.html title="IZZE" link="izze.html" img="izze/izze-intro.jpg" alt="forth" %}
	</div>

	<div class="wrap buffer">
		<div id="about" class="buffer banner clearfix unit-s-1 unit-m-1 unit-l-5-8 unit-xl-5-8 nav-bar-center">
			<h2 class="galaxy center-text w400">About</h2>
		</div>
	</div>
	
			{% include about.html %}
	
	<div class="wrap buffer">
		<div id="contact" class="buffer banner clearfix unit-s-1 unit-m-1 unit-l-5-8 unit-xl-5-8 nav-bar-center">
			<h2 class="galaxy center-text w400">Contact</h2>
		</div>
	</div>

		{% include contact.html %}

	<footer>

	</footer>
	<hr/>
