---
layout: default
title: Welcome
---


<div id="welcome" class="welcome">
<!--	<img class="logo" src="images/logo-gm.svg" alt="Good Things Come To Those Who Wait.">-->
	
	<object type="image/svg+xml" data="images/logo-gm.svg" class="logo">
	  <a href="#">Gabriel Mitchell Fox Logo <!-- fallback image in CSS --></a>
	</object>	
	
</div>

<div id="work" class="buffer banner clearfix unit-s-1 unit-m-1 unit-l-5-8 unit-xl-5-8 nav-bar-center">
	<h2 class="galaxy center-text w400">WORKS</h2>
</div>

		{% include pieces.html %}

<div id="about" class="buffer banner clearfix unit-s-1 unit-m-1 unit-l-5-8 unit-xl-5-8 nav-bar-center">
	<h2 class="galaxy center-text w400">ABOUT</h2>
</div>

		{% include about.html %}

<div id="contact" class="buffer banner clearfix unit-s-1 unit-m-1 unit-l-5-8 unit-xl-5-8 nav-bar-center">
	<h2 class="galaxy center-text w400">CONTACT</h2>
</div>


		{% include contact.html %}
