<div class="wrap buffer toggle">
<!--	<a href="#nav"><h3>Navigation</h3></a>	-->
	<nav class="nav nav-bar-center">
		<ul class="planet">
			<li class="unit unit-s-1 unit-m-33 unit-l-33 unit-xl-33 nav-icons">
				<a href="http://gabrielmitchell.ca/#work">
				<img src="images/logo-gm.svg" alt="" class="menu-btn">
					Work
				</a>
			</li>
			<li class="unit unit-s-1 unit-m-33 unit-l-33 unit-xl-33 nav-icons">
				<a href="http://gabrielmitchell.ca/#about">
				<img src="images/logo-gm.svg" alt="" class="menu-btn">
					About
				</a>
			</li>
			<li class="unit unit-s-1 unit-m-33 unit-l-33 unit-xl-33 nav-icons">
				<a href="http://gabrielmitchell.ca/#contact">
				<img src="images/logo-gm.svg" alt="" class="menu-btn">
					Contact
				</a>
			</li>
		</ul>
	</nav>
</div>