
<div class="fig unit unit-s-4-8 unit-m-33 unit-l-33 unit-xl-33 unit-xxl-2-8">
	<figure class="piece-img unit unit-s-1 unit-m-1 unit-l-1 unit-xl-1 unit-xxl-1">
		<img src="../images/{{include.img}}" alt="{{include.alt}}">
		<figcaption class="fig-box">
			<a class="fig-link" href="gabrielmitchell.ca/work/{{include.link}}"><h3 class="planet center-text white">{{include.title}}</h3></a>
		</figcaption>
	</figure>
</div>
	
<!--

		<li class="unit unit-s-1 unit-m-3-8 unit-l-3-8 unit-xl-2-8 unit-xxl-2-8">
			<a href="gabrielmitchell.ca/work/{{link}}">
				<img src="{{include.img}}" alt="{{include.alt}}">
			</a>
		</li>

-->