@charset "UTF-8";

html {
	font-family: "Roboto", "Helvetica", "Arial", Sans-serif;
	font-weight: 100;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background: #F5F5F5;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

img,
object {
	display: block;
	width: 100%;
}
/*
.welcome {
	margin-top: 5%;
	position: absolute;
	width: 100%;
}
*/
.logo {
	width: 8%;
	margin: 0 auto;
} 