@charset "UTF-8";

html {
	font-family: "Roboto", "Helvetica", "Arial", Sans-serif;
	font-weight: 100;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background: #F5F5F5;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

img,
object {
	display: block;
	width: 100%;
}

.mountains {
	margin: 40px 0;
}

.center-object {
	display: block;
	margin: 0 auto;
}

.buffer {
	margin: 42px 0;
}

.wrap {
	overflow: hidden;
}

.clearfix {
	clear: left;
}

.full-height {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

.errorbg {
	background-color: #FA8072;
}

@media only screen and (min-width: 0em) {
	.logo {
		width: 15%;
		margin: 30px auto 0;
		clear: both;
		position: absolute;
		top: 2%;
		left: 42.5%;
	}
	
}

@media only screen and (min-width: 30em) {
	.logo {
		width: 12%;
		margin: 0 auto;
		clear: both;
		position: absolute;
		top: 5%;
		left: 44%;
	}
	
	.mountains {
		margin: 0;
	}
	
	.buffer {
		margin: 3rem 0;
	}
}

@media only screen and (min-width: 50em) {
	.logo {
		width: 10%;
		margin: 0 auto;
		clear: both;
		position: absolute;
		top: 5%;
		left: 45%;
	}
}

@media only screen and (min-width: 70em) {
	.logo {
		width: 6%;
		margin: 0 auto;
		clear: both;
		position: absolute;
		top: 10%;
		left: 47%;
	}
}