/* ========================================== NAVIGATION Definitions  ========================================== */
/*

COLOR SCHEME

INDIAN RED 
	#CD5C5C 
	205 92 92
	
FOX RED 
	#E14825 
	255 72 37
	
SALMON
	#FA8072 
	250,128,114	

OLD LACE 
	#FDF5E6 
	253 245 230
	
ORANGE 
	#FFA500 
	255 165 0

SLATEGRAY
	#708090
	rgb(112,128,144)

LIGHTSLATEGRAY
	#778899
	rgb(119,136,153)
	
*/

.nav {
	overflow:hidden;
	width: 100%;
	z-index: 9999;
}

.nav-bar-center {
	display: block;
	margin: auto auto;
	overflow:visible;
}

.nav ul {
	margin: 0;
	padding: 0;
}

.contact {
	align-content: center;
}

.contact li {
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
	text-align:center;
	font-weight: 300;
}

.nav li {
	text-decoration: none;
	display: inline-block;
	text-align: center;
	color: #FDF5E6; 
	padding: 1.5rem 0;
	-webkit-transition: .35s;
	-moz-transition: .35s;
	-ms-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
}

.nav-top li {
	background-color: #F5F5F5;
}

.menu-btn {
	display:block;
	margin: 0 auto;
	width: 15%;
}

.nav li:hover,
.nav li:focus,
.nav li:active {
		background-color: rgba(119,136,153,1);
}

.nav li:hover a,
.nav li:focus a,
.nav li:active a {
	color: #F5F5F5;
	font-weight: 400;
}

.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0; 
} 
/*
.js-navicon-launch{
	animation: navicon-launch 1s ease-out forwards;
	-webkit-animation: navicon-launch 1s ease-out forwards;
}

@-webkit-keyframes navicon-launch {
	0% {
		opacity: 0;
		transform: translateY(200px);
	}
	
	100% {
		opacity: 0;
		transform: translateY(0px);
	}
	
}*/