.accordion
{
	width:auto;
	margin: 0 auto;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border-bottom: 2px solid #778899;
	
}

.accordion:hover {
	border-bottom: 2px solid #FA8072;
}

.accordion ul li {
	list-style-type: none;
}

.accordion h3 
{
	padding: 2rem 0;
	margin: 0;
	background: #FA8072 ;
	color: #F5F5F5;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-transition: .125s;
	-moz-transition: .125s;
	-ms-transition: .125s;
	-o-transition: .125s;
	transition: .125s;
}

.accordion h3:hover
{
	cursor: pointer;
	background: #708090;
	color: #F5F5F5;
	font-weight: 400;
} 
.accordion p
{
	padding: 5% 15% 8%;
	margin: 0;
	line-height: 1.75rem;
	display: none;
}