/*

COLOR SCHEME

INDIAN RED 
	#CD5C5C 
	205,92,92
	
FOX RED 
	#E14825 
	255,72,37
	
SALMON
	#FA8072 
	250,128,114	

OLD LACE 
	#FDF5E6 
	253,245,230
	
ORANGE 
	#FFA500 
	255,165,0

SLATEGRAY
	#708090
	rgb(112,128,144)

LIGHTSLATEGRAY
	#778899
	rgb(119,136,153)
	
OFF-WHITE
	#F5F5F5
	
*/

h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, dl, table {
	margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6, .multiverse, .universe {
	color: #FA8072;
}
	
.multiverse {
	font-size: 4.767rem;
	line-height: 1.0558;
	font-weight: 100;
 }

.universe {
	font-size: 3.814rem;
	line-height: 1.0723;
	font-weight: 100;
}

h1, .galaxy {
	font-size: 3.051rem;
	line-height: 1.0311;
	font-weight: 100;
}

h2, .starsystem {
	font-size: 2.441rem;
	line-height: 1.0311;
}

h3, .star {
	font-size: 1.953rem;
	line-height: 1.1278;
}

h4, .planet {
	font-size: 1.563rem;
	line-height: 1.0069;
}

h5, .organism {
	font-size: 1.25rem;
	line-height: 1.0069;
}

h6, .cell {
	font-size: 1rem;
	line-height: 1.2587;
	font-weight: 100;
}

small, .atom, caption { 
	font-size: .8rem;
	line-height: 1.1800;
	font-weight: 100;
}

.string {
	font-size: .64rem;
	line-height: 1.4750;
	font-weight: 100;
}

.w400 {
	font-weight: 400;
}

.w100 {
	font-weight: 100;
}

/* ========================================== Basic Tag Definitions  ========================================== */

p {
	color: rgba(0,0,0,.50);
}

hr {
	border: solid 1px #FA8072;
}

::selection {
	background-color: rgba(255,165,0,0.65); 
	color: #FFF;
}

a,
a:link {
	color: #E14825;
	text-decoration: none;
	transition: all 100ms linear;
}

a:visited {
	color: #CD5C5C;
}

a:hover,
a:focus,
a:active {
	color: #FFA500;
}

a:hover,
a:active {
	outline:none;
}

a:focus {
	outline: #CD5C5C 3px solid;
}

.copyright {
	color: rgba(0,0,0,.50);
	padding: 0 1.5rem;
}

ul, ol, li {
	margin: 0;
	padding: 0;
	border: none;
}

mark {
	background-color: rgba(250,128,114,0.25);
}

em {
	font-style:italic;
}

sub, sup {
	line-height: 1rem;
}

strong {
	font-weight: 500;
}

.center-text {
	text-align: center;
}

blockquote {
	position: relative;
}

blockquote p:before {
	content: "“";
	position: absolute;
	top: .5em;
	left: -.5em;
	font-size: 5rem;
}

blockquote p:after {
	content: "”";
	position: relative;
	top: .5em;
	right: -.5em;
	font-size: 5rem;
}

hr {
	margin: 0;
	padding: 0;
}

/* ========================================== Custom Tag Spacing Definitions  ========================================== */

.caption {
	font-style: italic;
}

.top-none {
	margin-top: 0;
}

.bottom-none {
	margin-bottom: 0;
}
