<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Gabriel Mitchell Portoflio · {{page.title}}</title>
<link href="{{site.baseurl}}css/main.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
<link href="/favicon.ico" rel="icon" type="image/x-icon" />
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1" >
<meta name="description"	content="{{page.meta-desc}}">
<meta name="keywords" content="{{page.meta-keywords}}">
<meta name="author" content="Gabriel Mitchell">
<meta name="copyright" content="©Gabriel Mitchell">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> -->
</head>
<body>
	
	{{content}}
	
	<!-- JQUERY -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>	
	<!-- Nav & Other General JS -->
	<script src="js/general.js"></script>
	<script src="js/waypoints.min.js"></script>
	<!-- Flexslider JS -->
	<script src="js/jquery.flexslider.js"></script>
	<script type="text/javascript">
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation: "fade",
			controlNav: "thumbnails",
			pauseOnHover: true,
			slideshow: false,
			animationLoop: false
		});
	});
	</script>
	<script src="js/accordion.js"></script>
	
</body>
</html>
