<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Gabriel Mitchell Portoflio · {{page.title}}</title>
<link href="{{site.baseurl}}css/main.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1" >
<meta name="description"	content="{{page.meta-desc}}">
<meta name="keywords" content="{{page.meta-keywords}}">
<meta name="author" content="Gabriel Mitchell">
<meta name="copyright" content="©Gabriel Mitchell">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> -->
<script src="js/jquery.flexslider.js"></script>
<script type="text/javascript" charset="utf-8">
$(window).load(function() {
	$('.flexslider').flexslider({
		animation: "fade",
		controlNav: "thumbnails",
		pauseOnHover: false
	});
});
</script>
</head>
<body>

	<header>
		<div>
			<img src="http://placehold.it/2000x600/778899/F5F5F5" alt="Welcome to my Portfolio">
		</div>
		<h1 class="center-text">Gabriel Mitchell</h1>
		{% include nav.html %}
	</header>
	
	{{content}}
	<hr/>
	<footer>
		{% include nav.html %} 
	</footer>
	
	<!-- jquery 2.1.1 & accordion for INFO TOGGLE -->
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
	<script src="js/accordion.js"></script>
	
</body>
</html>
