<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Gabriel Mitchell Portfolio · {{page.title}}</title>
<link href="../css/main.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1" >
<meta name="description"	content="{{page.meta-desc}}">
<meta name="keywords" content="{{page.meta-keywords}}">
<meta name="author" content="Gabriel Mitchell">
<meta name="copyright" content="&copy; Gabriel Mitchell">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> -->
</head>
<body>

	<header>
		<a href="#nav" class="nav-btn hide-text">Navigatory Console</a>
		<div class="nav-top nav-toggle" data-state="collapsed">
			<div class="wrap buffer toggle nav-bar-center unit-s-1 unit-m-1 unit-l-5-8 unit-xl-5-8 unit-xxl-5-8">
				<nav class="nav">
					<ul class="organism">
						<li class="unit unit-s-1 unit-m-33 unit-l-33 unit-xl-33 nav-icons">
							<a href="http://gabrielmitchell.ca/#work">
								Work
							</a>
						</li>
						<li class="unit unit-s-1 unit-m-33 unit-l-33 unit-xl-33 nav-icons">
							<a href="http://gabrielmitchell.ca/#about">
								About
							</a>
						</li>
						<li class="unit unit-s-1 unit-m-33 unit-l-33 unit-xl-33 nav-icons">
							<a href="http://gabrielmitchell.ca/#contact">
								Contact
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	
	{{content}}
	
	
	<small class="string center-text w100"><p>2015 © Gabriel Mitchell.</p></small>
	
	<!-- JQUERY -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>	
	<!-- Nav & Other General JS -->
	<script src="../js/nav.js"></script> 
	<script src="../js/waypoints.min.js"></script>
	<!-- Flexslider JS -->
	
</body>
</html>
